* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
  background-color: #1752c1;
  color: white;
}

body {
  background-color: #0e0f04;
  color: white;
  position: relative;
  height: 100vh;
  cursor: none;
  overflow-x: hidden;
}

header {
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
  background-color: #1752c1;
}

main {
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 100%;
  padding-top: 15px;
}

#verticalLine {
  border: 1px solid rgb(0, 219, 222);
  position: relative;
}

/* horizontalLine styling */
.horizontalLine {
  border: 1px solid rgb(133, 255, 189);
  position: absolute;
  width: 20vw;
  height: 0;
}

.horizontalLeft {
  right: 0;
}

/* circle styling */
#verticalLine .circle {
  position: absolute;
  padding: 6px;
  right: -10px;
  top: -9px;
  border-radius: 10pc;
  background-color: rgb(36, 184, 221);
  border: 3px solid #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

#verticalLine .horizontalRight .circle {
  right: 98.4%;
  left: -10px;
  top: -9px;
}

#verticalLine .horizontalLine .circle:hover {
  border-color: rgb(152, 190, 209);
}

/* vertical arrow  */
#verticalLine #verticalArrow {
  position: absolute;
  right: -11px;
  animation: movingDown 5s infinite linear;
}

#verticalArrow i {
  font-size: 22px;
}

/* animation for lines */
@keyframes movingDown {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

/* line End */
#lineEnd {
  position: absolute;
  bottom: -2px;
  left: -67px;
  background-color: green;
  padding: 2px;
  width: 123px;
  height: 33px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  cursor: not-allowed;
}
#lineEnd h4 {
  line-height: 43px;
}

/* custom-cursor styling */
#custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
}

#custom-cursor img {
  width: 100%;
  filter: invert(1);
  transform: rotate(22deg);
}

/* search field styling */
#searchContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 260px;
}

#search {
  padding: 6px 17px;
  padding-right: 24px;
  font-size: 17px;
  width: 130px;
  height: 34%;
  background: black ;
  border: 1px groove #00a36d;
  border-radius: 0 30px;
  outline: none;
  color: white;
  transition: all 0.5s linear;
}

#search::placeholder {
  font-size: 10px;
}

#search:focus {
  border-color: rebeccapurple;
}

#searchBtn {
  padding: 6px 10px;
  border: none;
  background-color: rgb(10, 78, 167);
  color: white;
  border-radius: 0 10pc;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#searchContainer .hideSearch {
  padding: 0;
  width: 0;
  border: none;
}

/* suggestion styling */
#suggestions {
  position: absolute;
  bottom: 37px;
  left: 41px;
  width: 70%;
  padding: 0 10px;
  background-color: #198561;
  border-radius: 10px;
  display: none;
}

#suggestions ul{
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 15px;
  gap: 14px;
}

#suggestions ul li{
  cursor: pointer;
  list-style: none;
  border-radius: 10px;
  padding: 2px 6px;
  outline: none;
}

#suggestions ul li:hover, #suggestions ul li:focus{
  background-color: #054d35be;
}

/* content styling */
.projectContainer {
  padding: 14px;
  padding-right: 20px;
  margin-top: 104px;
  text-align: center;
  line-height: 29px;
  width: 100%;
  height: 115px;
}

.projectContainer h1 {
  padding-bottom: 15px;
}
.projectContainer p {
  margin-inline: 40px;
}

#project1 {
  margin-top: 63px;
}

.projectImage {
  width: 384px;
  height: 245px;
  margin-left: 22%;
  margin-top: 127px;
  position: relative;
  transform: scale(0.9);
  z-index: 1;
  transition: all 0.5s linear;
}

#project1Img {
  margin-top: 37px;
}

#project2Img .tooltip {
  width: 270px;
  padding-block: 7px;
}

.projectImage img {
  border-radius: 10px;
  object-fit: cover;
  width: 90%;
  height: 90%;
  position: relative;
}

.projectImage:hover {
  transform: scale(1);
}

.projectImage:last-child {
  margin-bottom: 100px;
}

.tooltip {
  text-transform: capitalize;
  background-color: #00a36d;
  position: absolute;
  top: 0;
  left: 45%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 50px;
  width: auto;
  text-align: center;
}

.tooltip::before {
  background-color: #00a36d;
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.projectImage:hover .tooltip {
  top: -18%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* responsive  styling */
@media screen and (max-width: 970px) {
  .projectImage {
    width: 76%;
    height: 243px;
  }
}

@media screen and (max-width: 670px) {
  header {
    font-size: 10px;
  }

  .projectContainer h1 {
    font-size: 20px;
  }
  .projectContainer p {
    font-size: 16px;
  }
}
