* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/audioimage/1121240.jpg) no-repeat center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#audioCard {
  border-radius: 10px;
  background-color: #1e1c1ce5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 23px;
}

#currentSongCon{
  font-weight: bolder;
font-size: 18px;
margin-bottom: 12px;
}

#currentSong{
  color: rgb(184, 35, 35);
}

#audioImaige {
  width: 200px;
  height: 200px;
  margin: 10px;
  animation: rotate 10s linear infinite;
  animation-play-state: paused;
}

#audioImaige img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid aliceblue;
  height: 100%;
  object-fit: contain;
}

#audioDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  width: 100%;
}

#audioTitle {
  margin-block: 20px;
  font-size: 20px;
  font-weight: bold;
}

#timeLines{
  display: flex;
justify-content: space-between;
width: 90%;
margin-block: 4px 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#audioTime {
  width: 90%;
}

#audioTime #progressBar {
  width: 100%;
  height: 6px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.349);
  cursor: pointer;
}

#progressBar #progress {
  background-color: #accbe1;
  height: 100%;
  border-radius: 15px;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#progressBar #progress::after{
  content: "";
  width: 10px;
  height: 8px;
  border-radius: 10px;
  background-color: brown;
}

#controls {
  margin-block: 10px;
  width: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn img {
  font-size: 30px;
}


@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}